@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('/bg.jpg'); /* Assuming bg.jpg is in the public folder */
  background-position:center center;
  overflow: hidden;
}

.radio-togglers {
  @apply p-1 bg-gray-200 inline-flex cursor-pointer;
}

.radio-togglers div{
  @apply p-2 px-4 text-gray-700 block flex items-center gap-2 cursor-pointer;
}

.radio-togglers input[type="radio"] {
  /* @apply hidden; */
}

.radio-togglers input[type="radio"]:checked + div {
  @apply bg-red-500 text-blue-800 rounded-full;
}

input[type="text"].userButton, textarea{
  @apply bg-gray-100 w-full block py-2 px-2 mb-2;
}
label.input-label{
  @apply uppercase text-gray-400 text-xs mb-2 font-semibold;
}

